.card {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #e2cfb6;
    box-shadow: #e2cfb6 0px 4px 8px;
    border-radius: 16px;
    padding: 1rem;
    transition: all 450ms;
    animation: fadeDown 1600ms ease-out forwards;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: #e2cfb6 0px 0px 8px 4px;
}
.holder {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2cfb6;
    border-radius: 16px;
}

.holder img {
    height: 90%;
    width: 90%;
    object-fit: contain;
}

.description {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.infoBlock h3 {
    font-size: 1rem;
    width: 90%;
}

.infoBlock p {
    font-size: 1.5rem;
}

.cartBtn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    height: 3rem;
    width: 10em;
    border-radius: 3rem;
    transition: background 300ms;
    /* background-color: #f6bd60cf; */
    background-color: #eec895;
    /* border: 2px solid #b08b5a; */
    border: none;
    box-shadow: 2px 3px #b08b5a;
    color: #925d19;
    font-weight: 600;
    font-size: 1rem;
}

.cartBtn:hover {
    /* transform: scale(1.05); */
    background-color: #f4bf7b;
}

.qtyControl {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    width: 10em;
    border-radius: 3rem;
    background-color: #eec895;
    border: none;
    box-shadow: 2px 3px #b08b5a;
    color: #925d19;
    font-weight: 600;
    font-size: 1rem;
}

.qtyControl button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF7ED;
    color: #925d19;
    transition: all 300ms;
}

.qtyControl button:hover {
        box-shadow: 2px 3px #b08b5a;

}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}