.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    height: 10vh;
    font-weight: 500;
    position: relative;
}

.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #e79b22;
    position: relative;
    transition: all 300ms ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background: #bb295a;
  transition: width 300ms ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links li a:hover {
    color: #bb295a;
}

.cartIcon {
    height: 26px;
    width: 26px;
}

.logo {
    cursor: default;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    color: #e79b22;
}

/* Hamburger Design */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #F28482;
    border-radius: 2px;
    transition: transform 300ms ease,
                opacity 0ms;
}

/* Animation */
.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.open .bar:nth-child(2) {
    opacity: 0;
}

.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-bar {
        justify-content: center;
    }

    .hamburger {
        display: flex;
        z-index: 1100;
    }

    .logo {
        z-index: 1100;
    }

    .nav-links {
        /* position: absolute; */
        /* top: 10vh; */
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* gap: 1.5rem; */
        gap: 2rem;
        padding: 1.5rem 0;
        /* transform: translateY(-200%); */
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
    }

    .nav-links.active {
        transform: translateY(0);
    }
}