.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    height: 10vh;
    font-weight: 500;
    position: relative;
}

.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #e79b22;
}

.nav-links li a:hover {
    color: #bb295a;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.cartIcon {
    height: 26px;
    width: 26px;
}

.logo {
    cursor: default;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    color: #e79b22;
}

/* Hamburger Design */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #212022;
    border-radius: 2px;
    transition: transform 300ms ease,
                opacity 0ms;
}

/* Animation */
.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.open .bar:nth-child(2) {
    opacity: 0;
}

.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Responsive Design */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem 0;
        transform: translateY(-200%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-links.active {
        transform: translateY(0);
    }
}