.body {
    display: flex;
    margin: 2rem;
    color: #4d4c49;
    align-items: flex-start;
}

.filter {
    display: flex;
    flex-direction: column;
    /* height: 60vh; */
    width: 15vw;
    border: 2px solid #e2cfb6;
    box-shadow: #e2cfb6 4px 4px 8px;
    padding: 1.5rem;
    gap: 1rem;
    border-radius: 16px;
    transition: background 2000ms,
        color 1500ms;
    position: sticky;
    top: 2rem;
    animation: fadeUp 800ms ease-out forwards;
}

.filter h3 {
    font-size: 1.7rem;
}

/* .filter:hover {
    background-color: #92D9BE;
    color: #FFF7ED;
} */

.btnDiv {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.btn {
    font-size: 1rem;
    height: 4.5rem;
    border-radius: 4rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #FFF7ED;
    border: solid #e2cfb6;
    color: #4d4c49;

    position: relative;
    overflow: hidden;
    transition: color 1500ms;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-image: url('https://web.archive.org/web/20160312084140im_/http://splatoon.nintendo.com/assets/img/nav-bg-fill-blue.png?1443460871');
    background-repeat: repeat-x;
    background-position: 0 -100%;
    filter: hue-rotate(100deg);
    transition: background 1500ms;
    z-index: 0;
    opacity: 0;
}

.btn>* {
    position: relative;
    z-index: 1;
}

.btn:hover::before {
    background-position: center;
    opacity: 1;
}

.btn:hover {
    color: #FFF7ED;
}

.btn div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #F6BD60;
    border-radius: 50%;
}

.btn img {
    height: 80%;
}

.girlBtn img {
    position: relative;
    left: -2px;
}

.jeweleryBtn img,
.electronicsBtn img {
    height: 65%;
}

.products {
    border: 2px solid #e2cfb6;
    box-shadow: #e2cfb6 4px 4px 8px;
    padding: 1.5rem;
    border-radius: 16px;
    margin-left: 2rem;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    gap: 1.5rem;
    width: 70%;
    animation: fadeUp 800ms ease-out forwards;
}

.sideBar {
    display: none;
    height: 48px;
    width: 48px;
    border: 2px solid#e2cfb6;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background-color: #F6BD60;
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1100;
}

.activeCategory {
    background-color: #FB2163;
    color: #FFF7ED;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 965px) {
    .sideBar {
        display: flex;
    }

    .filter {
        position: fixed;
        top: 1rem;
        left: 5rem;
        width: 50%;
        height: 50vh;
        background: white;
        transform: translateX(-200%);
        transition: transform 0.3s ease-in-out;
        z-index: 1100;
    }

    .filter.active {
        transform: translateX(0);
    }

    .btn {
        width: 100%;
    }

    .products {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .products {
        grid-template-columns: 1fr;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .sideBar {
        height: 32px;
        width: 32px;
    }

    .btn {
        width: 90%;
    }
}